.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.homePageLogo{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.formWrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a {
  color: rgb(81, 251, 3);
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;

}

.btn{
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn, .leaveBtn {
  background: #32f800;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover, .leaveBtn:hover{
  background: #1a8100
}

.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}
.createNewBtn{
  color: #4ae884;
  text-decoration: none;
  border-bottom:1px solid #32f800 ;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover, footer a:hover{
  color: #368654;
  border-color:#368654 ;
}



.logoImage {
  height: 100px;
  border-radius: 50%;
}

.mainWrap{
  display: grid;
  grid-template-columns:230px 1fr;
  height: 100vh;
}
.aside{
  background: #1c1e29;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}
.asideInner{
  flex: 1;
}

.clientList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.logo{
  border-radius: 1px solid green;
  
}
.leaveBtn{
  width: 100%;
  margin-top: 20px;
}

.CodeMirror{
  min-height: calc(100vh - 20px);
  font-size: 15px;
  line-height: 1.6;
  padding-top: 20px;
}